.flex{
	display:flex;
}
.items-center{
	align-items: center;
}
.justify-between{
	justify-content: space-between;
}
.btn{
	padding:0.5rem 1.5rem;
	font-size: 15px;
	font-weight: 500;
	border:2px solid transparent;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.btn-primary{
	background-color: #00b4d8;
}
.btn-primary:hover{
	background: transparent;
	border-color: #00b4d8;
	color:#00b4d8;
}
.btn-secondry{
	background:transparent;
	color:  #00b4d8;
	border-color: #00b4d8; 
	margin-left: 25px;
	margin-top: 15px;
}
.btn-secondry:hover{
	background:  #00b4d8;
	color: black;
} 
.flex-1{
	flex: 1;

}
.justify-center{
	justify-content: center;
}